In [ ]:
import mysql.connector
import pandas as pd

# 1. Connexion à la base de données MySQL
connection = mysql.connector.connect(
    host="localhost",           # Adresse du serveur MySQL
    user="root",                # Nom d'utilisateur MySQL
    password="",  # Mot de passe MySQL
    database="scrapDB"   # Nom de la base de données
)

# 2. Créer un curseur pour exécuter la requête SQL
cursor = connection.cursor()

# 3. Exécuter la requête SQL pour récupérer les données de la table
query = "SELECT * FROM nom_de_la_table"
cursor.execute(query)

# 4. Récupérer les résultats de la requête
results = cursor.fetchall()

# 5. Récupérer les noms des colonnes
column_names = [desc[0] for desc in cursor.description]

# 6. Convertir les résultats en DataFrame (dataset)
df = pd.DataFrame(results, columns=column_names)
# 8. Fermer la connexion
cursor.close()
connection.close()

In [ ]:
df.head()